@import url('https://fonts.googleapis.com/css?family=Catamaran|Lora|Nanum+Gothic');

/* 

COLORS
    color:#39436A;
    color:#0E163F;
    color:#E1E3F7;
    color:#2DB349;
    color:#202020;


FONTS
    
    font-family: 'Lora', serif;

    font-family: 'Nanum Gothic', sans-serif;

    font-family: 'Catamaran', sans-serif;




ICONS

<i class="fas fa-dog"></i>
<i class="fas fa-paw"></i>



*/


.none{
    color:#39436A;
    color:#0E163F;
    color:#E1E3F7;
    color:#2DB349;
    color:#202020;
}




/* NAVBAR START */

.navbar{
    padding: 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.topnav {
    overflow: hidden;
    width: 100%;
    z-index: 6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    border: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.topnav a {
    float: left;
    display: block;
    text-align: center;
    margin: 10px;
    font-size: 1.5rem;
    text-decoration: none;
}

.topnav a {
    color: #0E163F;
}

.topnav a:hover {
    color: #2DB349;
    text-decoration: none;
}

.topnav .icon {
    display: none;
}

.topnav .this-page {
    display: none;
}


/* END NAVBAR */




*{
    font-family: 'Catamaran', sans-serif;
}

body{
    margin: 0;
}

p{
    margin: 0;
    
}

.container-fluid{
    background: #2DB349;
    background-image: url(images/45-degree-fabric-light.png);
}










.one, .two{
    margin: 0 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
}

h1{
    font-size: 3.5rem;
    color:white;
}

.adopt{
    margin-top: 2%;
    padding: 3%;
    background:white;
    border-radius: 10px;
    border: 20px solid #39436A;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.adopt-one{
    
}

.top{
    text-align: center;
}


.middle{
    padding-top: 50px;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}



.adopt-p{
    font-size: 1.6rem;
    color:white;
    
}

.adopt-list{
    font-size: 1.6rem;
    color:white;
    
}

.header{
    font-size: 3rem;
    font-weight: 900;
    color:#39436A;
}

.head-p{
    font-size: 2rem;
    font-weight: 900;
    color:#39436A;
}

.body-p{
    font-size: 1.4rem;
    color:#39436A;
}

.button-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top:20px;
}


.button{
    font-size: 2rem;
    height: 100px;
    width: 300px;
    margin: 25px;
    background-color:#39436A;
    border-radius: 10px;
    border: 2px solid #E1E3F7;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.button a{
    color:white;
    text-decoration: none;
}




.button:hover{
    -webkit-animation: .5s shrink forwards;
    animation: .5s shrink forwards;
}

@-webkit-keyframes shrink {
    0% {
        background-color: #39436A;
    }
    100%{
        background-color: #0E163F;
        border:2px solid #39436A;
    }
}

@keyframes shrink {
    0% {
        background-color: #39436A;
    }
    100%{
        background-color: #0E163F;
        border:2px solid #39436A;
    }
    
    
}


















.image-main{
    max-height: 100%;
    max-width: 100%;
}

.place-holder{
    max-height: 100%;
    max-width: 100%;
}


.thumbnail{
    margin-left: 10px;
    height: 100px;
    border: 2px solid #39436A;
}


.image-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}




































.slideshow{
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}




.slideshow2{
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}




.divider{
    height: 100px;
    width: 100%;
    background: #2DB349;
    color:white;
    font-size: 4rem;
    background-image: url(images/45-degree-fabric-light.png);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
















/* MMMMMMMM Footer MMMMMMMM */
.footer{
    background-color:#05396B;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width:100%;
    position:static;
    font-family: 'Bitter', serif;
    color:white;
    font-size: 1.1em;
    padding-top:8px;
}

.footer p a{
    text-decoration: underline;
    color:white;
}

.footer p a:hover{
    text-decoration: overline;
    color:#8DE4AF;
}


















/* NAVBAR */

@media screen and (max-width: 600px) {
    .topnav a {
        display: none;
        color: white;
    }
    .topnav .this-page {
        display: block;
        color: white;
        float: left;
        display: block;
        text-align: center;
        margin: 10px;
        font-size: 2rem;
    }
    .topnav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        background-color: #0E163F;
        margin-top: 20px;
        
    }
    .topnav a.icon {
        float: right;
        display: block;
        font-size: 4em;
    }
    .icon {
        color: white;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav a.icon {
        float: right;
        display: block;
        color: white;
        font-size: 4em;
    }
}



















@media screen and (min-width: 320px) and (max-width:580px) {
    #page {}
}


@media screen and (max-width:1140px) {
    .container-fluid {
        width: 100%;
        text-align: center;
    }
    .row, body, .two, .adopt, .place-holder  {
        max-width: 100%;
        padding:0;
        margin: 0;
        overflow-x: hidden;
    }
    .navbar{
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .topnav{
        margin-top: none;
    }
    .middle, .left{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        margin: 0;
    }
    .place-holder, .image-main{
        max-height: 100%;
        max-width: 100%;
    }
    .image-list{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
    }
    .adopt, .bottom{
        border:none;
        padding-top: 25px;
        margin: 0;
    }
    h1{
        text-align: center;
    }
    
    
}


@media screen and (max-width:959px) {
    .container-fluid {
        width: 100%;
        text-align: center;
    }
    .row, body, .two, .adopt, .place-holder  {
        max-width: 100%;
        padding:0;
        margin: 0;
        overflow-x: hidden;
    }
    .navbar{
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .topnav{
        margin-top: none;
    }
    .middle, .left{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        margin: 0;
    }
    .place-holder, .image-main{
        max-height: 100%;
        max-width: 100%;
    }
    .image-list{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
    }
    .adopt, .bottom{
        border:none;
        padding-top: 25px;
        margin: 0;
    }
    h1{
        text-align: center;
    }
    
    
}


@media screen and (max-width:640px) {
   .container-fluid {
        width: 100%;
       text-align: center;
    }
    .row, body, .two, .adopt, .place-holder  {
        max-width: 100%;
        padding:0;
        margin: 0;
        overflow-x: hidden;
    }
    .navbar{
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .topnav{
        margin-top: none;
    }
    .middle, .left{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        margin: 0;
    }
    .place-holder, .image-main{
        max-height: 100%;
        max-width: 100%;
    }
    .image-list{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
    }
    .adopt, .bottom{
        border:none;
        padding-top: 25px;
        margin: 0;
    }
    h1{
        text-align: center;
    }
    
    
}


@media screen and (max-width:360px) {
    .container-fluid {
        width: 100%;
        text-align: center;
    }
    .row, body, .two, .adopt, .place-holder  {
        max-width: 100%;
        padding:0;
        margin: 0;
        overflow-x: hidden;
    }
    .navbar{
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .topnav{
        margin-top: none;
    }
    .middle, .left{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        margin: 0;
    }
    .place-holder, .image-main{
        max-height: 100%;
        max-width: 100%;
    }
    .image-list{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
    }
    .adopt, .bottom{
        border:none;
        padding-top: 25px;
        margin: 0;
    }
    h1{
        text-align: center;
    }
    
    
}


@media screen and (max-width:320px) {
    .container-fluid {
        width: 100%;
        text-align: center;
    }
    .row, body, .two, .adopt, .place-holder  {
        max-width: 100%;
        padding:0;
        margin: 0;
        overflow-x: hidden;
    }
    .navbar{
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .topnav{
        margin-top: none;
    }
    .middle, .left{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        margin: 0;
    }
    .place-holder, .image-main{
        max-height: 100%;
        max-width: 100%;
    }
    .image-list{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
    }
    .adopt, .bottom{
        border:none;
        padding-top: 25px;
        margin: 0;
    }
    h1{
        
    }
    
}




